<?xml version="1.0" ?>
<!--
  Author: Enrico Mingo Hoffman, 2022
-->
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="panda">
    
    <group name="base">
        <link name="panda_link0"/>
    </group>


    <group name="arm">
        <chain base_link="panda_link0" tip_link="panda_link8"/>
    </group>


    <group name="chains"> 
        <group name="arm"/>
    </group>


<group_state name="home" group="chains">

        <joint name="panda_joint1" value="0.0"/>
        <joint name="panda_joint2" value="0.0"/>
        <joint name="panda_joint3" value="0.0"/>
        <joint name="panda_joint4" value="0.0"/>
        <joint name="panda_joint5" value="0.0"/>
        <joint name="panda_joint6" value="0.0"/>
        <joint name="panda_joint7" value="0.0"/>
        
</group_state>
</robot>
